<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>103570864052-1jg67juc6j1lkvgd4cr03m4rs8b59lol.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.103570864052-1jg67juc6j1lkvgd4cr03m4rs8b59lol</string>
	<key>API_KEY</key>
	<string>AIzaSyB829vEu6h6Ai3hkD8fU9B1posPwu9BSqg</string>
	<key>GCM_SENDER_ID</key>
	<string>103570864052</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loveAajKal</string>
	<key>PROJECT_ID</key>
	<string>love-aaj-kal-2799b</string>
	<key>STORAGE_BUCKET</key>
	<string>love-aaj-kal-2799b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103570864052:ios:c1bd96477a8583fa22e4e1</string>
</dict>
</plist>